<div #ratingsComponent>
    <div class = "row">
        <div style = "margin-left: 5%;"></div>
        <div class = "column" style = "text-align: center; width: 30%;">
            <div style = "margin-top: 20%;"></div>
            <div class = "row">
                <img src = "assets/star.png" width="50px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="50px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="50px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="50px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/half-star.png" width="50px" height="auto">
            </div>
            <div style = "margin-bottom: 5%;"></div>
            <h1 style = "font-weight: bolder; margin-bottom: 0%;">4.7/5</h1>
            <h2 style = "margin-top: 0%;">Facebook</h2>
            <p>"RoadRover Rentals made my recent trip a breeze! Their easy booking process, clean and reliable vehicles, 
                and helpful staff ensured a stress-free experience. I'll definitely choose RoadRover for my next adventure."</p>
            <div class = "row" style="margin-left: 15%;">
                <p style="margin-top: 5%;">- Panthi Patel</p>
                <div class = "user-image" style = "background-image: url('assets/panthi_photo.png');"></div>
            </div>
        </div>

        <div style = "margin-left: 10%;"></div>
        <div class = "column" style = "text-align: center; width: 30%;">
            <div class = "row">
                <img src = "assets/star.png" width="70px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="70px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="70px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="70px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="70px" height="auto">
            </div>
            <div style = "margin-bottom: 5%;"></div>
            <h1 style = "font-weight: bolder; margin-bottom: 0%;">5/5</h1>
            <h2 style = "margin-top: 0%;">Google Reviews</h2>
            <p>"RoadRover Rentals exceeded my expectations with their seamless booking process, well-maintained vehicles, and friendly staff. 
                My rental experience was smooth from start to finish, and I highly recommend them for hassle-free car rentals.
                I'll definitely be a repeat customer!"</p>
            <div class = "row" style="margin-left: 15%;">
                <p style="margin-top: 5%;">- Hisham Moizuddin</p>
                <div class = "user-image" style = "background-image: url('assets/hisham_photo.png');"></div>
            </div>
        </div>

        <div style = "margin-left: 10%;"></div>
        <div class = "column" style = "text-align: center; width: 30%;">
            <div style = "margin-top: 20%;"></div>
            <div class = "row">
                <img src = "assets/star.png" width="50px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="50px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="50px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="50px" height="auto">
                <div style = "margin-right: 1.5%;"></div>
                <img src = "assets/star.png" width="50px" height="auto">
            </div>
            <div style = "margin-bottom: 5%;"></div>
            <h1 style = "font-weight: bolder; margin-bottom: 0%;">4.9/5</h1>
            <h2 style = "margin-top: 0%;">Rent-A-Review</h2>
            <p>"
                RoadRover Rentals provided me with a top-notch car rental experience. 
                Their efficient service, well-maintained vehicles, and friendly staff made my trip a breeze. 
                I'll definitely choose RoadRover for all my future rental needs."</p>
            <div class = "row" style="margin-left: 20%;">
                <p style="margin-top: 5%;">- Sarthak Hans</p>
                <div class = "user-image" style = "background-image: url('assets/sarthak_photo.png');"></div>
            </div>
        </div>
        <div style = "margin-right: 5%;"></div>
        
    </div>
</div>