<div #aboutComponent>
    <h1>About Us</h1>
    <p>We are RoadRover Rentals. Founded in 2024, RoadRover Rentals is the US's most distinguished rental car company.
        We provide customers with approximately 850 locations and 42,000 vehicles throughout the US.</p>
    <p>As we are not affiliated with any specific automaker, we are able to provide a variety of vehicle makes and models for customers to rent.</p>
    <p>Rather than let vehicles age, we also replace our most popular passenger vehicles every few years.</p>
    <p>Replacing used vehicles eliminates uncomfortable wear and tear, and reduces the risk of breakdown and other inconveniences to our customers.
        The most trusted name in vehicle rentals.</p>
    <div class = "padding"></div>
    <h2>Management Philosophy</h2>
    <p>RoadRover Rentals shall provide advanced and attractive services in regard to vehicle usage and shall make the value of usage higher permanently.
        In such way, we will contribute to the society as indispensable business entity in the field of transportation.</p>
    <div class = "padding"></div>
    <h2>Action Guidelines</h2>
    <p>We will be united to do followings:</p>
    <p>1. Try to offer safe, trusted, clean and comfortable vehicle as well as upmost satisfactory and best services to our clients to obtain best confident to us from them.</p>
    <p>2. Challenge always to introduce innovative and unique services to offer convenient and economical vehicle usage services.</p>
    <p>3. Commit to respect humanistic and help each other, and make employee friendly workplace where everyone finds worth for working and rearises growth by oneself.</p>
</div>