
<div class="container car-list-container" #carListComponent>
    <div class = "left-column">
        <app-vehicle-filters (vehicleTypeSelected)="filterVehiclesByType($event)" (vehicleMakesSelected)="filterVehiclesByMake($event)" (fuelTypeSelected)="filterVehiclesByFuelType($event)"></app-vehicle-filters>
    </div>
    <div class = "vl"></div>
    <!-- <div *ngFor="let vehicle of allVehiclesFromPickupCity">
        <img src = "assets/all_cars/{{vehicle.vehiclemodel}}.png">
        <h3>{{vehicle.vehiclemake}}</h3>
        <h3>{{vehicle.vehiclemodel}} ({{vehicle.vehicleyear}})</h3>
    </div> -->
    <div class = "car-list-grp right-column">
        <div *ngFor="let vehicle of filteredVehicles" (click) = "clickVehicle(vehicle, 'vehicle_select')">
            <img src='assets/all_cars/{{vehicle.vehiclemodel}}.png'>
            <h3>{{vehicle.vehiclemake}} {{vehicle.vehiclemodel}} ({{vehicle.vehicleyear}})</h3>
            <h3>${{vehicle.ratedaily}}/Day</h3>
        </div>
    </div>
</div>