<div class = "car-search" #searchCarComponent>
    <div class = "center-row">
        <app-autocomplete-search label = "Pick Up"></app-autocomplete-search>
        <div style = "padding-right: 5%;"></div>
        <app-autocomplete-search label = "Drop Off"></app-autocomplete-search>
    </div>

    <div class = "left-row">
        <app-date-picker></app-date-picker>
        <div style = "padding-right: 5%;"></div>
        <button (click)="clickButton('all_cars')">Search</button>
    </div>
</div>

<!-- <p {{range}}></p> -->