form{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.make{
    height: 100px;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 5px;
    text-align: start;
}